<!doctype html>
<html>
<head>
  <title>SpeakForMe</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
</head>
<body>

<div class="row">
<h1>
    <span class="speak">Speak</span>For<span class="me">Me</span>
</h1>

<p>
  SpeakForMe allows you to use any voice as the source for a speech synthesizer.
</p>

<dl class="tabs" data-tab>
  <dd class="active">
    <a href="#tab-record">I want to record a voice</a>
  </dd>
  <dd>
    <a href="#tab-create">I want to create a clip</a>
  </dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="tab-record">
    <p>
      In order to get started, enter the name of the voice you want to record (make it unique) and click the "Record" button below.
    </p>

    <div class="row">
      <div class="small-1 columns">
        <label for="name" class="inline right">
          Name
        </label>
      </div>

      <div class="small-9 columns">
        <input type="text" value="test" id="name" class="js-name" required="required" />
      </div>

      <div class="small-2 columns">
        <button class="button success js-btn-record">
          Record
        </button>

        <button class="button alert js-btn-stop hide">
          Stop
        </button>
      </div>
    </div>

    <div class="js-we-heard">
      <p>
        Great! We have recorded what you said and this is what we think we heard:
      </p>

      <textarea class="js-text-said" readonly="readonly"></textarea>

      <p>
        You will now be able to synthesize speech using these same words, and other words like them, by referencing the name you entered above.
      </p>
    </div>
  </div>

  <div class="content" id="tab-create">
    <div class="row">
      Stuff
    </div>
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>

<script src="js/recorder.js"></script>
<script src="js/main.js"></script>
</body>
</html>
