<!doctype html>
<html>
<head>
  <title>SpeakForMe</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <script type="text/javascript">
	function saveCookie(){
	  var name = document.getElementById("name").value;
	  var existingCookie = ReadCookie("S4MEName");

    // Check that the name isn't already there
    if (existingCookie.indexOf(name) !== -1) {
      return;
    }

	  // Append to the cookies
	  var save_this = "S4MEName=" + existingCookie + "/?" + name;

	  document.cookie = save_this;
	}
	function ReadCookie(name)
	{
	  name += '=';
	  var parts = document.cookie.split(/;\s*/);
	  for (var i = 0; i < parts.length; i++)
	  {
    		var part = parts[i];
    		if (part.indexOf(name) == 0)
      		  return part.substring(name.length)
  	  }
  	  return null;
	}

  </script>
</head>
<body>

<div class="row">
<h1>
    <span class="speak">Speak</span>For<span class="me">Me</span>
    <small>Creating more realistic vocal experiences</small>
</h1>

<p>
  Become part of a community of voices that allow you to sound more like a
  human and less like a science fiction killer.
</p>

<dl class="tabs" data-tab>
  <dd class="active">
    <a href="#tab-record">I have a voice</a>
  </dd>
  <dd>
    <a href="#tab-create">I need a voice</a>
  </dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="tab-record">
    <p>
      In order to get started, enter the name of the voice you want to record
      (make it unique) and click the "Record" button below. After clicking
      "Record", you will be prompted for access to your microphone twice. This
      will allow us to record your voice, and you will be able to stop recording
      at any time.
    </p>

    <div class="row collapse">
      <div class="small-1 columns">
        <label for="name" class="prefix">
          Name
        </label>
      </div>

      <div class="small-9 columns">
        <input type="text" value="test" id="name" class="js-name" required="required" />
      </div>

      <div class="small-2 columns">
        <button class="button success postfix js-btn-record">
          Record
        </button>

        <button class="button alert postfix js-btn-stop hide" onclick="saveCookie();">
          Stop
        </button>
      </div>
    </div>

    <div class="js-we-heard">
      <p>
        Great! We have recorded what you said and this is what we think we heard:
      </p>

      <textarea class="js-text-said" readonly="readonly"></textarea>

      <p>
        You will now be able to synthesize speech using these same words,
        and other words like them, by referencing the name you entered above.
      </p>
    </div>
  </div>

  <div class="content" id="tab-create">
    <div class="content" id="text-input">
      <div class="row collapse" align="center">
        <p>
          Pick the name of a voice to use when generating the audio file.
        </p>
        <form method="GET" action="/play">

          <script>
            var names = ReadCookie("S4MEName").split("/?");
            var option = "<select name=\"name\">";
            for(var i = 0; i < names.length; i++){
              option += "<option value="+names[i]+">"+names[i]+"</option>";
            }
            option += "</select>";
            document.write(option);
          </script>

          <p>Enter text below that you would like the voice to say.</p>

          <textarea id="text_input" name="text_input"></textarea>
	      <input class="button" type="submit" value="Submit">

          <hr class="hr-dashed" />

          <a href="/download/" style="font-size: 38px;">Play
            <img width=50 height=50 src="/img/download.png">
          </a>

	    </form>

      </div>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>

<script src="js/recorder.js"></script>
<script src="js/main.js"></script>
</body>
</html>
